form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

.authForm-title{
    color: #FD2D01;
}

form label{
    padding: 20px;
}

button{
    margin: auto;
    margin-top: 30px;
    width: 30%;
    font-size: 15px;
}

.click-button{
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #FD2D01;

}