.authForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    margin: auto;
    align-content: center;
}

.authForm-title{
    color: #FD2D01;
}

form label{
    padding: 20px;
}

button{
    margin: auto;
    margin-top: 30px;
    width: 30%;
    font-size: 15px;
}

.click-button{
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #FD2D01;

}

.click-button:hover{
    color: blue;
}

.input-field-auth{
    border-radius: 20px;
    height: 30px;
    width: 80%;
}

@media (max-width: 992px)
{
    .input-field-auth{
        height: 30px;
        width: 100%;
    }
}

@media (max-width: 768px)
{
    .input-field-auth{
        height: 30px;
        width: 100%;
    }
}