@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.btn-type{
    cursor: pointer;
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    background-color: #4E5166;
    color: white;
    font-weight: bold; 
}

.btn-type:hover{
    background-color: #FD2D01;
}

