@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: auto;
}

.btn-type{
    cursor: pointer;
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    background-color: #FFD7D7;

}