.modify-form{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.modify-text-field{
    box-shadow: 10px 5px 5px  #4E5166;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 40px;
}

.container-modify{
    margin-right: 30px;
}

@media (max-width: 768px)
{
    .modify-form{
        margin: 20px;
    }

    .container-modify{
        margin: 0%;
    }

}