.title{
    color: #FD2D01;
}

.reverse{
    display: flex;
    flex-direction: column-reverse;
}

.container{
    max-width: 50%;
    margin: auto;
    width: 35%;
    background-color: #FD2D01;
}

.container-post{
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    margin-top: 2px;
}

.component-style{
    box-sizing: border-box;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.image-style{
    margin: auto;
}

.logout-text{
    color: #FD2D01;
    font-weight: bold;
    font-size: 20px;
}

.logout-text-click{
    color: #FD2D01;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.logout-text-click:hover{
    color: blue;
}

.idUsers{
    display: flex;
    color: #FD2D01;
    font-weight: bold;
}


@media (max-width: 992px)
{

    .container-post{
        width: 70%;
    }

}
@media (max-width: 768px)
{
    .component-style{
        flex-direction: column;
    }

    .container-post{
        width: 75%;
    }

}